MOVIEGLU_API_BASE_URL=https://api-gate2.movieglu.com/
MOVIEGLU_CLIENT=SPES
MOVIEGLU_API_KEY=your_sandbox_key
MOVIEGLU_AUTHORIZATION=Basic your_sandbox_authorization
MOVIEGLU_TERRITORY=XX
MOVIEGLU_API_VERSION=v201
MOVIEGLU_GEOLOCATION=-22.0;14.0
MOVIEGLU_CINEMA_QUERY=odeon coventry
MOVIEGLU_CINEMA_NAME_HINT=ODEON Coventry
MOVIEGLU_SHOW_DATE=2026-04-06
